/* font setup  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800, 900');
/* font setup  END*/

/* General setup  */
body{
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    /*color:#626a70;*/
    font-weight: 200;
    color: #171717;
}
.page-pad-side{
    padding: 0 0;
}
::selection {
    background: #02a5dd;
    color: #ffffff !important;
}
/* General setup  END*/

/* Huption Nav */
#header{}
.huption-nav{
    height: 77px;
    z-index: 9;
    position: relative;
    border-bottom: 1px solid rgb(62, 80, 95);
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
}
.huption-nav .navbar{
    padding: 20px 4%;
    background-color: transparent !important;
}
.huption-nav .navbar .navbar-brand{
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 0;
}
.huption-nav .navbar .navbar-brand:hover{
    color: rgba(255,255,255,.5) !important;
}

.huption-nav .navbar .navbar-toggler{}

.huption-nav .navbar .navbar-nav{}
.huption-nav .navbar .navbar-nav .nav-item{
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.huption-nav .navbar .navbar-nav .nav-item.active,
.huption-nav .navbar .navbar-nav .nav-item:hover,
.huption-nav .navbar .navbar-nav .nav-item:active,
.huption-nav .navbar .navbar-nav .nav-item:focus{
    color: rgba(255,255,255,.5) !important;
}
.huption-nav .navbar .navbar-nav .nav-item .nav-link{
    color: #ffffff;
}
.huption-nav .navbar .navbar-nav .nav-item.active .nav-link,
.huption-nav .navbar .navbar-nav .nav-item .nav-link:hover,
.huption-nav .navbar .navbar-nav .nav-item .nav-link:active,
.huption-nav .navbar .navbar-nav .nav-item .nav-link:focus {
    color: rgba(255,255,255,.5) !important;
}
/* Huption Nav END*/


/* Huption Slider */
#slider{}
.huption-slider{
    margin-top: -77px;
}
.huption-slider .carousel{}

.huption-slider .carousel .carousel-indicators{
    margin-right: 5%;
    margin-left: 5%;
}
.huption-slider .carousel .carousel-indicators li{}
.huption-slider .carousel .carousel-indicators li.active{}

.huption-slider .carousel .carousel-indicators .indicatorz-hold{
    position: absolute;
}
.huption-slider .carousel .carousel-indicators .indicatorz{
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}
.huption-slider .carousel .carousel-indicators .polls-menu{
    margin-top: 30px;
}
.huption-slider .carousel .carousel-indicators .polls-menu{}
.huption-slider .carousel .carousel-indicators .polls-menu .poll-btn-hold{
    padding: 20px 0 30px 0;
    margin-bottom: 20px;
}
.huption-slider .carousel .carousel-indicators .polls-menu .poll-btn-hold .poll-btn-each{
    display: inline-block;
    padding: 2px 5px;
}
.huption-slider .carousel .carousel-indicators .polls-menu .poll-btn-hold .poll-btn-each a{
    padding: 10px 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    outline: none;
}
.huption-slider .carousel .carousel-indicators .polls-menu .poll-btn-hold .poll-btn-each a:hover{
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.5);
}

.huption-slider .carousel .carousel-inner{}
.huption-slider .carousel .carousel-inner .carousel-item{}
.huption-slider .carousel .carousel-inner .carousel-item.active{}
.huption-slider .carousel .carousel-inner .carousel-item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}
.huption-slider .carousel .carousel-inner .carousel-item .img{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.huption-slider .carousel .carousel-inner .carousel-item .img.one{
    background-image: url(../img/back-1.jpeg);
}
.huption-slider .carousel .carousel-inner .carousel-item .img.two{
    background-image: url(https://www.onepoll.com/_wp/wp-content/uploads/2019/02/insight_slide.jpg);
}
.huption-slider .carousel .carousel-inner .carousel-item .carousel-caption{
    top: 27vh;
    width: 100%;
    z-index: 6;
    right: 0;
    left: 0;
    bottom: unset;
}
.huption-slider .carousel .carousel-inner .carousel-item .carousel-caption h3{
    font-size: 100px;
    font-weight: 800;
    color: #eeeeee;
}
.huption-slider .carousel .carousel-inner .carousel-item .carousel-caption p{
    font-size: 24px;
    font-weight: 400;
}

.huption-slider .carousel .carousel-control-prev{
    z-index: 6;
    width: 7%;
}
.huption-slider .carousel .carousel-control-prev .carousel-control-prev-icon{}
.huption-slider .carousel .carousel-control-next{
    z-index: 6;
    width: 7%;
}
.huption-slider .carousel .carousel-control-next .carousel-control-next-icon{}
/* Huption Slider END*/

/* Huption Poll Of The Day setup  */

#pollOfTheDay{}
.huption-poll-of-the-day{
    padding: 80px 7% 40px 7%;
}
.huption-poll-of-the-day .poll-otd-sect{}
.huption-poll-of-the-day .poll-otd-sect .question{}
.huption-poll-of-the-day .poll-otd-sect .options{}

.huption-poll-of-the-day .vector-poll-otd {}
.huption-poll-of-the-day .vector-poll-otd .vector{}
.huption-poll-of-the-day .vector-poll-otd .vector svg{
    height: auto;
    width: 70%;
    float: right;
}

.question{}
.question p.poll-head{
    font-size: 9px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}
.question p{
    text-align: justify;
}
.question p .red-dot{
    background-color: #c00001;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.options{}
.options .optn{}
.options .optn a{}
.options .optn .optn-progress{}
.options .optn .progres{}

.huption-poll-of-the-day label {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
}
/* hide input */
.huption-poll-of-the-day input.radio:empty {
    /*margin-left: -999px;*/
    display: none;
}
/* style label */
.huption-poll-of-the-day input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 30px;
    text-indent: 40px;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.huption-poll-of-the-day input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    /*background: #E0E0E0;*/
    background: #3b2b5a;
    /*background: #7f64c1;*/
    border-radius: 20px 0 0 20px;
}

/* toggle hover */
.huption-poll-of-the-day input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.huption-poll-of-the-day input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
.huption-poll-of-the-day input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    /*color: #9CE2AE;*/
    color: #d96666;
    /*background-color: #4DCB6D;*/
    background-color: #c00001;
}

.huption-poll-of-the-day input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
.huption-poll-of-the-day input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
/* Huption Poll Of The Day  END*/


/* Huption Poll Category setup  */
#pollCategory1{}
.huption-poll-category{
    padding: 50px 7% 30px 7%;
    background-color: #f6f6f6;
}
.huption-poll-category.alt{
    background-color: #FFFFFF;
}
.huption-poll-category .header-span{
    background-color: #c00001;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    z-index: 9;
    margin-top: -15px;
    margin-left: -10px;
    border-radius: 6px;
}
.huption-poll-category .service-box{
    background-color: #FFFFFF;
    margin: 0 10px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 6px;
    display: block;
}
.huption-poll-category.alt .service-box{
    background-color: #f6f6f6;
}
.huption-poll-category .service-box .top{
    display: block;
    overflow: hidden;
    position: relative;
}
.huption-poll-category .service-box .top img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.huption-poll-category .service-box .base{
    padding: 11px;
}
.huption-poll-category .service-box .base p{
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}
/* Huption Poll Category  END*/


/* Huption Special Section setup  */
#specialSection{}
.huption-insight{}
.huption-insight .huption-insight-hold{}
.huption-insight .huption-insight-hold .bg-up{
    background-image: url(https://www.onepoll.com/_wp/wp-content/uploads/2019/01/fiber-optics-bg-uai-1440x655.jpg);
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}
.huption-insight .huption-insight-hold .bg-up .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(138, 36, 36, 0.4);
}

.huption-insight .huption-insight-hold .bg-down{
    height: 550px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0 7%;
}
.huption-insight .huption-insight-hold .bg-down .test-special{
    width: 100%;
    /*height: 550px;*/
    background-color: #FFFFFF;
    border-radius: 0;
    border: 1px solid transparent;
    color: #303133;
    margin-top: -100px;
    z-index: 99;
    position: relative;
    /*padding-bottom: 60px;*/
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder{
    display: flex;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box{
    text-align: left;
    width: 25%;
    padding: 54px;
    display: inline-block;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box.one{
    border-right: 1px solid #eaeaea;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box.two{
    border-right: 1px solid #eaeaea;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box.three{
    border-right: 1px solid #eaeaea;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box.four{}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box .inner-hold{
    display: block;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box .pre{
    color: #777777;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 9px;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box .main{
    text-transform: none;
    text-decoration: none;
    outline: 0;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #303133;
    transition: all ease-in-out .5s;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box .main:hover{
    text-transform: none;
    text-decoration: none;
    outline: 0;
    color: #c00001;
}
.huption-insight .huption-insight-hold .bg-down .test-special .insights-holder .insight-box .sub{
    font-size: 18px;
    line-height: 1.75;
    margin: 25px 0 20px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea;
}
.huption-insight .huption-insight-hold .bg-down{}
.huption-insight{}
/* Huption Special Section END*/


/* Huption Slider setup  */
/* Huption Slider END*/




