/* font setup  */
/* font setup  END*/

/* general setup  */
body{
    overflow-x: hidden !important;
}
/* general setup  END*/

/* nav bar setup  */
/* nav bar setup  END*/

/* intro section setup  */
.landingImg{
    background: url("../img/polling.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 605px;
    position: relative;
    display: inline-block;
}
/* .landingImg .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inherit;
} */
.landingImg p{
    font-weight: 800;
    z-index: 2;
    position: relative;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px; 
}
.landingImg h2{
    font-weight: 400;
    z-index: 2;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}  
.landingImg h3{
    font-weight: 400;
    z-index: 2;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}    
.button4 {
    border: 2px solid white !important ;
     color: #fff;
     padding: 0px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 29px; width: 130px; height: 40px;
   text-align: center;
   background-color: transparent;
   }
   .button4:hover{
       background-color: #E0E0E0;
       border: 2px solid black;
       color: black;
   }
/* intro section setup  END*/


/* body section setup  */
.bodyContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/* .singleImage {
    -webkit-background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
}
.Button{
display: inline-block;
border-radius: 14px;
padding-top: 20px;
float: none;
} */
.navbar{
    padding: 10px 5%;
    color: #c00001;
    background-color: rgba(245, 245, 245, 0.54) !important;
  }
  .navbar-brand{
    color: #c00001;
  }
  .btn-custom{
    background-color: #c00001;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 15px;
    padding: 7px 13px;
  }
  .btn-custom:hover,
  .btn-custom:active,
  .btn-custom:focus{
    background-color: #c6191a;
    outline: none;
  }

.huption-bg{
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  background-size: 62%;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding: 0 5%;
}
.focus-moda{
  margin-top: 12vh;
  display: block;
  max-width: 400px;
}
.focus-moda p.intro{
  text-align: left;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
}

.focus-moda .card{
  /*border: 1px solid #2c3e50; */
  border: 1px solid transparent;
  background-color: #f5f5f5;
  padding: 25px 25px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.focus-moda .card .card-body{
  padding: 0;
}
.focus-moda .card{}

.question{}
.question p.poll-head{
  font-size: 9px;
  margin-bottom: 10px;
  font-weight: 600;
  font-style: italic;
}
.question p{
  text-align: justify;
}
.question p .red-dot{
  background-color: #c00001;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.options{}
.options .optn{}
.options .optn a{}
.options .optn .optn-progress{}
.options .optn .progres{}

  label {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
  }
  /* hide input */
  input.radio:empty {
    /*margin-left: -999px;*/
    display: none;
  }
  /* style label */
  input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 30px;
    text-indent: 40px;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    /*background: #E0E0E0;*/
    background: #3b2b5a;
    /*background: #7f64c1;*/
    border-radius: 20px 0 0 20px;
  }

  /* toggle hover */
  input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }

  input.radio:hover:not(:checked) ~ label {
    color: #888;
  }

  /* toggle on */
  input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    /*color: #9CE2AE;*/
    color: #d96666;
    /*background-color: #4DCB6D;*/
    background-color: #c00001;
  }

  input.radio:checked ~ label {
    color: #777;
  }

  /* radio focus */
  input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
  }
/* body section setup  END*/

.holder {
    padding: 5px 10px;
    background-color: #f8f9fa;
    font-size: 13px;
  }
  .holder:hover{
    box-shadow: 1px 1px #343a40;
  }
  .serviceBox {
    color: #343a40;
    text-decoration: none;
  }
  .serviceBox:hover{
      text-decoration: none;
  }
  .serviceBox img {
        height: 100%;
        width: 100%;
    }
    .serviceBox p {
        margin-bottom: 0;
        padding: 5px 0;
        line-height: 18px;
    }
    .context-dark, .bg-gray-dark, .bg-primary {
        color: rgba(255, 255, 255, 0.8);
    }
    .careerfy-jobtype-label {
        position: absolute;
        left: 17px;
        top: -10px;
        background-color: #d81e1ef8;
        font-size: 16px;
        color: #ffffff;
        padding: 6px 10px 7px 10px;
        line-height: 1;
    }
    /* .careerfy-jobtype-label:before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -4px;
        border-top: 5px solid #666666;
        border-left: 5px solid transparent;
    }
    .careerfy-featured-label {
        position: absolute;
        left: 15px;
        bottom: 15px;
        padding: 4px 10px;
        background-color: #13b5ea;
        line-height: 1;
        border-radius: 40px;
        color: #ffffff;
        font-size: 10px; */
    /* } */
    
    .footers a {color:#696969;}
    .footers p {color:#696969;}
    .footers ul {line-height:30px;}
    #social-fb:hover {
         color: #3B5998;
         transition:all .001s;
     }
     #social-tw:hover {
         color: #4099FF;
         transition:all .001s;
     }
     #social-gp:hover {
         color: #d34836;
         transition:all .001s;
     }
     #social-em:hover {
         color: #f39c12;
         transition:all .001s;
     }
     .aboutUs p{
        font-weight: 400;
        z-index: 2;
        position: relative;
        font-size: 35px;
        text-align: center;
        color: #000000;
        margin-top: 30px; 
     }
     .aboutUs h2{
        font-weight: 200;
        z-index: 2;
        position: relative;
        font-size: 20px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
     }
     .footersLogo {
        text-decoration-color: red;
         font-size: 30px;
     }