.st0{fill:#F8FAFB;}
.st1{fill:#CCDAE1;}
.st2{fill:#FFFFFF;}
.st3{fill:#E1EAEE;}
.st4{fill:#9EB9C8;}
.st5{fill:#B5C9D4;}
.st6{fill:#4E7E97;}
/*.st7{fill:#5F5FF6;}*/
.st7{fill:#6f6f73;}
.st8{fill:#0161CD;}
.st9{fill:#E3E9ED;}
.st10{fill:#FFA68F;}
.st11{fill:#FB5252;}
.st12{fill:#D53232;}
.st13{fill:#CFD9E0;}
/*.st14{fill:#ABFFAD;}*/
.st14{fill:#004c47;}
/*.st15{fill:#4AD295;}*/
.st15{fill:#004c47;}
.st16{fill:#5EB2FC;}
.st17{fill:#1273EB;}
.st18{fill:#00AF80;}
.st19{fill:#FCD250;}
/*.st20{fill:#C7FFC7;}*/
.st20{fill:#b1cfd4;}
.st21{fill:#004c47;}
/*.st21{fill:#69E781;}*/
.st22{fill:#FCBD24;}
.st23{fill:#FCDB7E;}
.st24{fill:#EB7D16;}
.st25{fill:#FF8578;}
.st26{fill:#C12020;}
.st27{fill:#3636CC;}
/*.st28{fill:#2D2DB0;}*/
.st28{fill:#6f6f73;}
.st29{fill:#EC3A3B;}
.st30{fill:#C7EBFF;}
.st31{fill:#92CDFA;}
.st32{fill:#FFEEB6;}
/*.st33{fill:#8080F1;}*/
.st33{fill:#888888;}
/*.st34{fill:#B3B3FC;}*/
.st34{fill:#6f6f73;}


